/** @section global */
:root {
  --color-dark-blue: #363f5f;
  --color-light-blue: #969cb3;
  --color-dark-green: #2d4a22;
  --color-light-gray: #f0f2f5;
  --color-medium-green: #12a454;
  --color-light-green: #49aa26;
  --color-medium-red: #e92929;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-light-gray);
}

h2 {
  font-weight: 400;
  color: var(--color-dark-blue);
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/** @section header */
header {
  text-align: center;
  background: var(--color-dark-green);
  padding: 2rem 0 12rem;
}

#logo {
  font-weight: 100;
  color: var(--color-white);
}

/** @section balance */
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: var(--color-white);
  margin-top: 0;
}

.card {
  background: var(--color-white);
  color: var(--color-dark-blue);
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}

.card h3 {
  font-size: 1rem;
  font-weight: 400;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  color: var(--color-white);
  background: var(--color-light-green);
}

/** @section transaction  */
#data-table {
  color: var(--color-light-blue);
  width: 100%;
  border-spacing: 0 0.5rem;
}

#data-table thead tr th:first-child,
#data-table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

#data-table tbody tr {
  opacity: 0.7;
}

#data-table tbody tr:hover {
  opacity: 1;
}

#data-table th,
#data-table td {
  background: var(--color-white);
}

#data-table th {
  text-align: left;
  font-weight: 400;
  padding: 1rem 2rem;
}

#data-table td {
  padding: 1rem 2rem;
}

td.description {
  color: var(--color-dark-blue);
}

td.income {
  color: var(--color-medium-green);
}

td.expense {
  color: var(--color-medium-red);
}

/** @section footer */
footer {
  text-align: center;
  color: var(--color-dark-blue);
  opacity: 0.6;
  padding: 4rem 0 2rem;
}
